body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
}

.row img{
	margin-top: 10px;
	vertical-align: middle;
	width:100%;
	}

/* Container holding the image and the text */
.imageContainer {
    position: relative;
    text-align: left;
    color:#990033;

}
/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color:white;
    opacity: 0.7;
    font-size: 1.5vw;
}

.btn-floating{
    background-color: #990033; /* Set a background color */
    display:none;
}

.btn-floating:hover{
    background-color: #990033;
}
.delBtn {
    display: none;/* Hidden by default */
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #990033; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 1.8vw; /* Increase font size */
}

.delBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.recBtn {
    display: none;/* Hidden by default */
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #009900; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 1.8vw; /* Increase font size */
}

.recBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.show {display:block;}

.status{
    position:relative;
    right:20px;
    top:2px;
    width:18px;
    height:18px;
}

.nav-wrapper{
    background-color: #990033;
    padding-left:1vw;
    padding-right: 1vw;
    font-size: 2vw;
}

#toast-container {
  top: auto !important;
  bottom: 5%;
  width:100%;
  text-align: center;
}

#menu {
  position: fixed;
  top: 15px;
  left: 20px;
  font-size: 2rem;
}

.breadcrumb{
    position: fixed;
    top: 4px;
    left: 70px;
    pointer-events: none;
    cursor: default;
}
